<?xml version="1.0"?>
<robot xmlns:xi="http://www.w3.org/2001/XInclude"
    xmlns:gazebo="http://playerstage.sourceforge.net/gazebo/xmlschema/#gz"
    xmlns:model="http://playerstage.sourceforge.net/gazebo/xmlschema/#model"
    xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
    xmlns:body="http://playerstage.sourceforge.net/gazebo/xmlschema/#body"
    xmlns:geom="http://playerstage.sourceforge.net/gazebo/xmlschema/#geom"
    xmlns:joint="http://playerstage.sourceforge.net/gazebo/xmlschema/#joint"
    xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
    xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
    xmlns:rendering="http://playerstage.sourceforge.net/gazebo/xmlschema/#rendering"
    xmlns:renderable="http://playerstage.sourceforge.net/gazebo/xmlschema/#renderable"
    xmlns:physics="http://playerstage.sourceforge.net/gazebo/xmlschema/#physics"
    xmlns:xacro="http://ros.org/wiki/xacro" name="ur5e_d435_millibar_combined_r2f85" >

  <xacro:include filename="$(find ur5e_workstation)/urdf/ur5e_with_r85_mounting_structure.urdf.xacro" />
  <xacro:include filename="$(find robotiq_2f_85_gripper_visualization)/urdf/robotiq_arg2f_85_model_macro.xacro" />

  <xacro:ur5e prefix="robot_" joint_limited="false"/>
  <link name="world" />
  <joint name="world_joint" type="fixed">
    <parent link="world" />
    <child link = "robot_base_link" />
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
  </joint>

  <xacro:robotiq_arg2f_85 prefix="gripper_"/>
  <joint name="robotiq_2f_85_connector_joint" type="fixed">
    <parent link="robot_r85_network_adapter_link"/>
    <child link="gripper_robotiq_arg2f_base_link"/>
    <origin xyz="0.0 0.0 0.005" rpy="0.0 0.0 -1.57" /> 
  </joint>

</robot>
