<?xml version="1.0"?>
<launch>

  <!-- Gazebo options -->
  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="debug" default="false"/>
  <arg name="gazebo_gui" default="true"/>

  <!--
  By default, hide joint_state_publisher's GUI

  MoveIt!'s "demo" mode replaces the real robot driver with the joint_state_publisher.
  The latter one maintains and publishes the current joint configuration of the simulated robot.
  It also provides a GUI to move the simulated robot around "manually".
  This corresponds to moving around the real robot without the use of MoveIt.
  -->
  <arg name="use_gui" default="false"/>

  <!-- startup simulated world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" default="worlds/empty.world"/>
    <arg name="debug" value="$(arg debug)"/>
    <arg name="gui" value="$(arg gazebo_gui)"/>
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
  </include>

  <!-- Load the URDF into the ROS Parameter Server -->
  <param name="robot_description"
    command="$(find xacro)/xacro --inorder '$(find ur5e_workstation)/urdf/ur5e_d435_millibar_combined_r2f85.urdf.xacro'"/>

  <!-- Run a python script to the send a service call to gazebo_ros to spawn a URDF robot -->
  <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
    args="-urdf -model ur5e -param robot_description"/>

  <!-- launch files -->
  <include file="$(find ur5e_d435_millibar_combined_r2f85_moveit_config)/launch/ros_controllers.launch"/>

  <!-- <include file="$(find ur5e_d435_millibar_combined_r2f85_moveit_config)/launch/gazebo_planning_execution.launch"/> -->

</launch>
